/module-01/02 - stubs/node_modules
/module-01/03 - spies/node_modules
/module-01/04 - coverage-e2e/node_modules
/module-01/04 - coverage-e2e/.nyc_output/
/module-01/04 - coverage-e2e/coverage/
/module-01/05 - tdd-project-pt01/node_modules
/module-01/05 - tdd-project-pt02/node_modules
/module-01/05 - tdd-project-pt02/.nyc_output/
/module-01/05 - tdd-project-pt02/coverage/
/module-01/05 - tdd-project-pt03/node_modules
/module-01/05 - tdd-project-pt03/.nyc_output/
/module-01/05 - tdd-project-pt03/coverage/
/module-01/05 - tdd-project-challenge/node_modules
/module-01/05 - tdd-project-challenge/.nyc_output/
/module-01/05 - tdd-project-challenge/coverage/